<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal" package="com.android.jinoux.powersupplysocket">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:debuggable="true" android:allowBackup="true">
        <activity android:label="@string/app_name" android:name="com.jinoux.pwersupplysocket.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jinoux.pwersupplysocket.activity.MainActivity" />
        <activity android:name="com.jinoux.pwersupplysocket.activity.AddSocketActivity" />
        <activity android:name="com.jinoux.pwersupplysocket.activity.UseexplainActivity" />
        <activity android:name="com.jinoux.pwersupplysocket.activity.EditionformationActivity" />
        <activity android:name="com.jinoux.pwersupplysocket.activity.EditnewSocketActivity" />
        <activity android:name="com.jinoux.pwersupplysocket.activity.DeviceInformationActivity" />
        <activity android:name="com.jinoux.pwersupplysocket.activity.EditSocketActivity" />
        <service android:name="com.android.jinoux.powersupplysocketlibrary.BluetoothLeService" android:enabled="true" />
    </application>
</manifest>
